.navbar {
    background-color: $color-navbar-bg;
    font-size: 16px;
    overflow: hidden;
    font-weight: 500;
    a {
        color: $color-navbar-a;
        text-decoration: none;
        @include trans();
        float: left;
        margin: 8px;
        padding: 12px 16px;
        &:hover {
            color: $color-navbar-a-hover;
            @include trans();
        }
    }
}

.dropdown {
    
        overflow: inherit;
        float: left;
        .dropbtn {
            
            background-color: $color-navbar-bg;
            /*
            later...
            font-family: inherit; Important for vertical align on mobile phones
            margin: 0;  Important for vertical align on mobile phones 
            */
            font-size: inherit;
            color: $color-navbar-a;
            border: none;
            margin: 8px;
            padding: 12px 16px;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                @include trans();
                color: $color-navbar-a-hover;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
            z-index: 100;
            border-radius: 10px;
            padding: 8px 32px;
            font-weight: 400;
            letter-spacing: 1px;
            a {
                padding: 4px;
                margin: 8px 4px;
                float: none;
                display: block;
                &:hover {
                    color: $color-navbar-drop-hover;
                }
            }
        }
        
        &:hover {
            .dropdown-content {
                display: block;
            }
        }

    }
